$color-white: #fff;
$color-black: #000;
$color-light-grey: #ccc;
$color-dark-grey: #333;

$color-primary-green-1: #081c15;
$color-primary-green-2: #1b4332;
$color-secondary-green-1: #2d6a4f;
$color-secondary-green-2: #52b788;
$color-secondary-green-3: #2e4138;

$color-light-green-1: #95d5b2;
$color-light-green-2: #b7e4c7;
$color-light-green-3: #d8f3dc;

$color-brown: #621708;
$color-yellowOrange: #ffca3a;
$color-red: #d80032;
