/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] is where our normal styles apply
1800px +: Big desktop

$breakpoint argument choices:
- phone  
- tab-port
- tab-land
- big-desktop

em / rem doesn't get effected by our root font-size setting in Media Query
it will follow the browser default setting - 1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background-color: #081c15;
  z-index: 5;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #621708;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #621708;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #621708;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.navigation__nav {
  font-family: "Text Me One", sans-serif;
  max-width: 60rem;
  margin: 5rem auto;
  overflow: hidden;
}

.slide__toggle {
  display: none;
}
.slide__label {
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #2d6a4f;
  opacity: 1;
}
.slide__label:hover {
  cursor: pointer;
  color: #d8f3dc;
}
.slide__label .slide__text {
  display: block;
  padding: 1rem;
  font-size: 2rem;
}
.slide__label .slide__icon {
  font-size: 1rem;
  border: solid 2px #2d6a4f;
  text-align: center;
  height: 5.5rem;
  width: 5.5rem;
  display: block;
  padding: 1.2rem;
  margin: 0 auto;
  line-height: 5rem;
  border-radius: 50%;
}

.clear {
  clear: both;
}

.bar {
  width: 100%;
  height: 0.5rem;
  display: block;
  background: #2e4138;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081c15;
}
.home__box {
  width: 50rem;
  height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home__title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 10rem;
}
.home__block {
  width: 0%;
  height: inherit;
  background: #95d5b2;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.home__text {
  font-family: "Text Me One", sans-serif;
  color: #52b788;
  font-size: 8rem;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.home__space {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #621708;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.home__role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 6rem;
  margin-top: 2rem;
}
.home__role-block {
  width: 0%;
  height: inherit;
  background: #d80032;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.home__role-text {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffca3a;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about {
  position: relative;
  display: block;
}
.about-img {
  position: absolute;
  top: 0;
  left: 40%;
  width: 70rem;
  height: 50rem;
  object-fit: cover;
  margin: 5rem 0;
  opacity: 0.1;
  z-index: -10;
}
.about-title {
  font-size: 4rem;
  font-family: "Text Me One", sans-serif;
  color: #2d6a4f;
  margin: 8rem 0 3rem 10rem;
}
.about-text {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #b7e4c7;
  margin-left: 10rem;
  margin-bottom: 10rem;
  width: 65rem;
  z-index: 10;
}

.bold-text {
  font-style: italic;
}

.color-text {
  color: #ffca3a;
  font-weight: 700;
}

/*# sourceMappingURL=App.css.map */
